*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #010101ef;
    color: rgba(10, 177, 10, 0.781);
    font-size: 26px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
}