*{
    margin: 0;
    padding: 0;
}

:root{
    --primary: green;
    --secondary: #ffffff;
}

body{
    background-color: var(--primary);
    color: var(--secondary);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-size: 26px;
}